code\ examples/*.png
code\ examples/*.gif
*.png
*.gif
figures/*.png
.idea
__pycache__
lab/.ipynb_checkpoints/
code\ examples/.ipynb_checkpoints/
submissions/
**__pycache__
**.ipynb_checkpoints
exercises/ex2_graphs/
exercises/ex3_graphs/